body {
	background-color: #7f5a83;
	background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

	min-height: 100vh;
	/* height of the browser viewport */
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background-color: #212121;
	height: 300px;
	width: 300px;
	padding: 20px;
	border-radius: 25px;
}

.row {
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
	margin: 10px;
}

button {
	width: 80px;
	height: 80px;
	border-radius: 5px;
	background-color: #212121;
	color: #fff;
}

.blue {
	border: 4px solid #32c1cd;
}

.pink {
	border: 4px solid #ed5edd;
}

.grey {
	border: 4px solid #d5d5d5;
}
